@keyframes rotate-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-medium {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.animate-rotate-slow {
  animation: rotate-slow 30s linear infinite;
}

.animate-rotate-medium {
  animation: rotate-medium 20s linear infinite;
}
